/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 2 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

/*
  Colors used

  Text Color (Dark Gray): #2b2b2b;
  Primary Color (Purple): #357b70;
  Secondary Color (Orange): #e0b354;
*/

 body {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background-color: #f0f8ff;
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

.profile__portrait {
  float: left;
  width: 200px;
  max-width: 100%;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile-logo {
  /* position: relative; */
  top: 20px;
  left: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
ul {
  list-style-type: none;
}
a {
  color: #357b70;
  /*color teal*/
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #05676e;
}

a:active {
  /* selected link */
  color: #489c79;
}
input,
texture,
select,
button {
  cursor: pointer;
  font-family: system-ui;
}
.button1, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.button2 {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.button3 {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
.button_secondary {
  background-color: #e0b354;
  color: #2b2b2b;
 }
 /* Style the navigation menu */
 .topnav {
   overflow: hidden;
   background-color: #333;
<<<<<<< HEAD
   position:relative;
 }
=======
   position: relative;
 }

>>>>>>> gh-pages
 /* Hide the links inside the navigation menu (except for logo/home) */
 .topnav #myLinks {
   display: none;
 }
<<<<<<< HEAD
 /* Style navigation menu links */
 .topnav a {
   color: #f0f8ff;
=======

 /* Style navigation menu links */
 .topnav a {
   color: white;
>>>>>>> gh-pages
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
 }

 /* Style the hamburger menu */
 .topnav a.icon {
<<<<<<< HEAD
   background:black;
=======
   background: black;
>>>>>>> gh-pages
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }

 /* Add a grey background color on mouse-over */
 .topnav a:hover {
<<<<<<< HEAD
   background-color: #f0f8ff;
   color:black;
 }
 /* Style the active link (or home/logo) */
.active {
  background-color:#f0f8ff;
  color: white;
}

=======
   background-color: #ddd;
   color: black;
 }

 /* Style the active link (or home/logo) */
 .active {
   background-color:  #f0f8ff;
   color: white;
 }
>>>>>>> gh-pages
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  /*using fraction as a diffrent veriable from px as a practice,also saw you can use repeat followed by numbers*/
  -ms-grid-columns:1fr 20px 1fr 20px 1fr;
  grid-template-columns:repeat(3,1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid__item {
  background-color:ghostwhite;
 }
  .grid__item:last-child {
 /*grid-column-start at 3 and grid-column-ends at 3.*/
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  /*grid-row-start at 1 and grid-row-ends at 3.*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  padding: 20px;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.about--illustration {
    margin-top: 10px;
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
 -webkit-animation-name: color-change;
         animation-name: color-change;
 -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
 -webkit-animation-direction: alternate;
         animation-direction: alternate;
 -webkit-animation-timing-function: linear;
         animation-timing-function: linear;
 /* alternativly can also write code "animation: 4s color-change infinite alternate linear;" for shorter version */
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /* alternativly can also write code "animation: 30s cloud-move infinite alternate linear;" for shorter version */
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
/* alternativly can also write code "animation: 34s cloud-move-reverse infinite alternate linear;" for shorter version */

.cloud-back {
 -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
         animation: 34s cloud-move-reverse infinite alternate linear;
}

.title_name {
  text-align: center;
}
#title_contanct {
  font-style: normal;
  text-align: center;
}
#Contanct-i {
  text-align: center;
}
.container {
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.location_how_to_reach {
  width: 50%;
  font-style: normal;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  font-size: 16px;
  padding: 10px;
}
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactboard {
  width: 40%;
  padding: 40px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
  background-color: #fff;
}
.contactboard h2 {
  font-size: 30px;
  color: teal;
  font-weight: 500;
}
.contactboard .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactboard .inputbox input,
.contactboard .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid cornflowerblue;
  outline:none;
  resize: none;
}
.contactboard .inputbox label {
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color:#666;
}
table {
  text-align: left;
  font-size: 16px;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px){
  .grid {
      grid-gap: 10px;
    }
}
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
 }
